body 
{
    background-color: white;
}
p{
    color: white;
    font-size: 2px;
}
button{
    background-color: blue;
    color: white;
    font-size: 2px;
    border-radius: 12px;
    padding: 10px 20px;
}